.App {
  text-align: center;
}

.onboard-form {
  width: 600px;
  height: 500px;
  background-color: grey;
  border-radius: 5px;
  margin: 5vh auto auto auto;
  
  display: flex;
  text-align: center;
}

.form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-top: 3rem;
  padding: 10px;
  font-size: 20px;
}

.form-button {
  margin: 20px auto;
  width: 40%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: dodgerblue;
  border: none;
  color: white;
}

.user-section {
  width: 1000px;
  margin: 20px auto 0 auto;
  padding: 15px 25px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-card {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}